Repository zorochimaru/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add pages Update animations
  public/images/linkedin.png
  public/images/profile.jpg
  src/App.css
  src/App.tsx
  src/components/Tab/Tab.tsx
  src/components/Title/Title.module.css
  src/components/Title/Title.tsx
  src/components/Title/index.ts
  src/constants/index.ts
  src/constants/routes.ts
  src/containers/CodePanel/CodePanel.tsx
  src/containers/CodePanel/pages/About.tsx
  src/containers/CodePanel/pages/Highlight.tsx
  src/containers/CodePanel/typescript-code.ts
  src/containers/OutputPanel/Introduce/Introduce.tsx
  src/containers/OutputPanel/OutputPanel.css
  src/containers/OutputPanel/OutputPanel.tsx
  src/containers/OutputPanel/Stack/Stack.tsx
  src/containers/Terminal/Terminal.tsx
  src/enums/index.ts
  src/enums/methods.enum.ts
  tsconfig.app.json
Due: eslint --fix, stylelint --fix

Experience panel + loading suspense
  src/containers/CodePanel/typescript-code.ts
  src/containers/OutputPanel/CalculateExperience/CalculateExperience.tsx
  src/containers/OutputPanel/OutputPanel.tsx
Due: eslint --fix

Add projects output
  package-lock.json
  package.json
  public/logos/adoption.png
  public/logos/gamesummit.png
  public/logos/gfo.png
  public/logos/lacera.png
  public/logos/simehub.png
  public/logos/snb.png
  public/logos/tsl.png
  public/logos/yourhd.png
  public/screenshots/adoption.png
  public/screenshots/gamesummit.jpg
  public/screenshots/gfo.jpg
  public/screenshots/lacera.jpg
  public/screenshots/simehub.jpg
  public/screenshots/snb.jpg
  public/screenshots/tsl.jpg
  public/screenshots/yourhd.jpg
  src/containers/CodePanel/typescript-code.ts
  src/containers/OutputPanel/OutputPanel.tsx
  src/containers/OutputPanel/Projects/Projects.tsx
  src/enums/methods.enum.ts
Due: eslint --fix

work in progress
  src/App.css
  src/App.tsx
  src/components/Title/Title.tsx
Due: stylelint --fix

add github pages
  package-lock.json
  package.json
  vite.config.ts
Due: none

Fix toolbar icons
  src/containers/CodePanel/CodePanel.tsx
  src/containers/ToolsBar/ToolsBar.tsx
Due: none

Updates
  assets/index-XCmKIWOK.js
  index.html
Due: none

Fix image path
  src/containers/OutputPanel/Projects/Projects.tsx
Due: none

Updates
  assets/index-fiZ9ursM.js
  index.html
Due: none

Update images
  public/screenshots/adoption.png
  public/screenshots/adoption.webp
  public/screenshots/gamesummit.jpg
  public/screenshots/gamesummit.webp
  public/screenshots/gfo.jpg
  public/screenshots/gfo.webp
  public/screenshots/lacera.jpg
  public/screenshots/lacera.webp
  public/screenshots/simehub.jpg
  public/screenshots/simehub.webp
  public/screenshots/snb.jpg
  public/screenshots/snb.webp
  public/screenshots/tsl.jpg
  public/screenshots/tsl.webp
  public/screenshots/yourhd.jpg
  public/screenshots/yourhd.webp
Due: none

Updates
  screenshots/adoption.png
  screenshots/adoption.webp
  screenshots/gamesummit.jpg
  screenshots/gamesummit.webp
  screenshots/gfo.jpg
  screenshots/gfo.webp
  screenshots/lacera.jpg
  screenshots/lacera.webp
  screenshots/simehub.jpg
  screenshots/simehub.webp
  screenshots/snb.jpg
  screenshots/snb.webp
  screenshots/tsl.jpg
  screenshots/tsl.webp
  screenshots/yourhd.jpg
  screenshots/yourhd.webp
Due: none

some fixes
  src/containers/OutputPanel/SoftSkills/SoftSkills.tsx
  src/containers/Terminal/Terminal.tsx
Due: none

Updates
  assets/index-4MSAREX8.css
  assets/index-C5YBZwcO.js
  assets/index-CKuXgEFt.js
  assets/index-D6-AU53n.css
  index.html
Due: stylelint --fix

Lofi music + scrollbars
  public/audio/lofi.mp3
  public/icons/music_note.svg
  public/icons/pause.svg
  src/containers/CodePanel/CodePanel.tsx
  src/containers/CodePanel/pages/About.tsx
  src/containers/CodePanel/pages/Highlight.tsx
  src/containers/OutputPanel/OutputPanel.css
  src/containers/OutputPanel/OutputPanel.tsx
  src/containers/ToolsBar/ToolsBar.tsx
  src/index.css
Due: stylelint --fix

Terminal command output
  src/App.tsx
  src/HOC/TerminalCommand.tsx
  src/HOC/index.ts
  src/containers/CodePanel/pages/Highlight.tsx
  src/containers/OutputPanel/Introduce/Introduce.tsx
  src/containers/Terminal/Terminal.tsx
  src/containers/ToolsBar/ToolsBar.tsx
Due: eslint --fix

Test CDN
  src/containers/OutputPanel/SoftSkills/SoftSkills.tsx
Due: none

Updates
  assets/index-DPISdl5R.js
  assets/index-DsM4t1wX.js
  index.html
Due: none

Update soft skills
  public/images/communication.svg
  public/images/problem-solving.svg
  public/images/team.svg
  public/images/think.svg
  public/images/time.svg
  src/App.tsx
  src/containers/CodePanel/pages/About.tsx
  src/containers/CodePanel/pages/Highlight.tsx
  src/containers/OutputPanel/CalculateExperience/CalculateExperience.tsx
  src/containers/OutputPanel/OutputPanel.css
  src/containers/OutputPanel/OutputPanel.tsx
  src/containers/OutputPanel/SoftSkills/SoftSkills.tsx
  src/index.css
Due: stylelint --fix

Updates
  assets/index-DkhS6SIO.js
  assets/index-Dvm9D15a.css
  assets/index-l2A96jFO.js
  assets/index-y02--zsR.css
  images/communication.svg
  images/problem-solving.svg
  images/team.svg
  images/think.svg
  images/time.svg
  index.html
Due: stylelint --fix

Update soft skills
  index.html
  src/containers/CodePanel/pages/About.tsx
  src/containers/OutputPanel/OutputPanel.css
  src/containers/OutputPanel/SoftSkills/SoftSkills.css
  src/containers/OutputPanel/SoftSkills/SoftSkills.tsx
  src/containers/Terminal/Terminal.tsx
Due: stylelint --fix

Updates
  assets/index-BzLP-6wY.css
  assets/index-D1Fs5cCr.js
  assets/index-DkhS6SIO.js
  assets/index-Dvm9D15a.css
  index.html
Due: stylelint --fix

fix y-scroll
  package.json
  src/containers/CodePanel/pages/Highlight.tsx
  src/containers/OutputPanel/CalculateExperience/CalculateExperience.tsx
  src/containers/OutputPanel/Introduce/Introduce.tsx
  src/containers/OutputPanel/OutputPanel.tsx
  src/containers/OutputPanel/Projects/Projects.css
  src/containers/OutputPanel/Projects/Projects.tsx
  src/containers/OutputPanel/SoftSkills/SoftSkills.tsx
  src/containers/OutputPanel/Stack/Stack.tsx
Due: stylelint --fix

Updates
  assets/index-BzLP-6wY.css
  assets/index-D1Fs5cCr.js
  assets/index-DB5NYa3M.css
  assets/index-qGwYZ3QV.js
  index.html
Due: stylelint --fix

Adaptive fixes
  src/App.tsx
  src/containers/CodePanel/CodePanel.css
  src/containers/CodePanel/CodePanel.tsx
  src/containers/CodePanel/pages/Highlight.tsx
  src/containers/OutputPanel/CalculateExperience/CalculateExperience.tsx
  src/containers/OutputPanel/Introduce/Introduce.tsx
  src/containers/OutputPanel/OutputPanel.css
  src/containers/OutputPanel/OutputPanel.tsx
  src/containers/OutputPanel/Projects/Projects.tsx
  src/containers/OutputPanel/SoftSkills/SoftSkills.css
  src/containers/OutputPanel/SoftSkills/SoftSkills.tsx
  src/containers/OutputPanel/Stack/Stack.tsx
Due: stylelint --fix

Updates
  assets/index-CdVY7kf8.js
  assets/index-DB5NYa3M.css
  assets/index-esbfe0Zr.css
  assets/index-qGwYZ3QV.js
  index.html
Due: stylelint --fix

Clean up 3d on destroy
  public/icons/expand_circle_down.svg
  public/icons/expand_circle_up.svg
  src/App.tsx
  src/containers/OutputPanel/Introduce/Introduce.tsx
  src/containers/OutputPanel/OutputPanel.css
  src/containers/OutputPanel/OutputPanel.tsx
  src/containers/OutputPanel/Projects/Projects.tsx
  src/containers/OutputPanel/SoftSkills/SoftSkills.css
  src/containers/OutputPanel/SoftSkills/SoftSkills.tsx
  src/containers/Terminal/Terminal.tsx
  src/hooks/index.ts
  src/hooks/useIsMobile.ts
Due: eslint --fix, stylelint --fix

Updates
  assets/index-BDZ3mLrR.css
  assets/index-CMvxJrby.js
  assets/index-CdVY7kf8.js
  assets/index-esbfe0Zr.css
  icons/expand_circle_down.svg
  icons/expand_circle_up.svg
  index.html
Due: stylelint --fix

Change to chill radio; update with tailwind styles
  src/containers/ToolsBar/ToolsBar.css
  src/containers/ToolsBar/ToolsBar.tsx
Due: stylelint --fix

Updates
  assets/index-7tV8L82o.js
  assets/index-BDZ3mLrR.css
  assets/index-BddGDIBL.css
  index.html
Due: stylelint --fix

Move to resize to hooks; add comment about december
  src/components/Title/Title.module.css
  src/components/Title/Title.tsx
  src/containers/CodePanel/typescript-code.ts
  src/containers/OutputPanel/OutputPanel.tsx
  src/hooks/index.ts
  src/hooks/useResizablePanel.ts
Due: eslint --fix, stylelint --fix

Updates
  assets/index-BddGDIBL.css
  assets/index-C065KWip.css
  assets/index-Cmr6kCNY.js
  index.html
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,ts,html}
  stylelint --fix: any of: *.{css,scss}
